[package]
name = "trillium-opentelemetry"
version = "0.3.0"
authors = ["Jacob Rothstein <hi@jbr.me>"]
edition = "2021"
description = "opentelemetry for trillium.rs"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trillium-rs/trillium-opentelemetry"
readme = "README.md"
keywords = ["trillium", "framework", "async", "opentelemetry", "otel"]
categories = ["web-programming::http-server", "web-programming"]

[dependencies]
opentelemetry = { version = "0.21.0", features = ["metrics"], default-features = false }
trillium = "0.2.9"

[dev-dependencies]
opentelemetry-otlp = { version = "0.13.0", features = ["metrics", "tokio"] }
opentelemetry = { version = "0.21.0", features = ["rt-tokio"] }
tokio = "1.29.1"
trillium-router = "0.3.5"
trillium-tokio = "0.3.1"
