[package]
name = "trillium-opentelemetry"
version = "0.5.3"
authors = ["Jacob Rothstein <hi@jbr.me>"]
edition = "2021"
description = "opentelemetry for trillium.rs"
license = "MIT OR Apache-2.0"
repository = "https://github.com/trillium-rs/trillium-opentelemetry"
readme = "README.md"
keywords = ["trillium", "framework", "async", "opentelemetry", "otel"]
categories = ["web-programming::http-server", "web-programming"]

[features]
default = ["metrics", "trace"]
metrics = ["opentelemetry/metrics"]
trace = ["opentelemetry/trace"]

[dependencies]
opentelemetry = { version = "0.22.0", default-features = false }
trillium = "0.2.11"
trillium-macros = "0.0.5"

[dev-dependencies]
opentelemetry-otlp = { version = "0.15.0", features = ["metrics", "tokio", "trace"] }
opentelemetry =  "0.22.0"
tokio = { version = "1.35.0", features = ["full"] }
trillium-router = "0.3.5"
trillium-tokio = "0.3.2"
trillium-opentelemetry = { path = ".", features = ["metrics", "trace"] }
opentelemetry_sdk = { version = "0.22.0", features = ["rt-tokio"] }
env_logger = "0.11.1"
